.navigation-bar li {
	display: inline;
}

.entity-card {
	padding: 0;
	width: 20%;
	margin: 10px;
}

.entity-card-details {
	white-space: nowrap;
	text-overflow: ellipsis;
	width: 200px;
	overflow: hidden;
}

.entity-card-description {
	text-overflow: ellipsis;
}
